@import "../../styl/variable.styl"

.day-count
  background-color white
  display flex
  flex-direction row
  justify-content space-between
  flex-wrap wrap
  padding 1em

  .check-in-button
    font-size 32rpx
    line-height 2.4

    &.checked
      line-height 2

  .big
    font-size 1.2em

  picker
    position relative

  .icon-calendar
    position absolute
    right 30rpx
    bottom 8rpx
    width 20rpx
    height 22rpx

.others
  border-top 1px solid $primary-color
  display flex
  flex-wrap wrap
  margin-top 1em
  padding-top .5em
  width 100%
  height 118rpx

  .icon-user
    width 27rpx
    height 30rpx
    margin-right 8rpx
    position relative
    top 4rpx

  .h3
    width 300rpx
    margin-bottom .5em

  .customers
    width 100%

  .customer
    width 56rpx
    height 56rpx
    border-radius 50%

    + .customer
      margin-left 15rpx

.intro
  margin .5em
  padding 1em

  .link
    color $primary-color
    text-align right

.sign-up,
.signed,
.quit
  padding .5em 0
  text-align center
  width 100%

  button,
  .button
    width 640rpx
    height 64rpx
    font-size 28rpx
    line-height 64rpx

    + button
      margin-top .5em

.h2
  width 650rpx
  border-bottom 1rpx solid $primary-color
  text-indent 60rpx
  position relative

.small-hints
  font-size 20rpx

.days
  display flex
  flex-wrap wrap
  padding 30rpx 10rpx 10rpx

.day
  width 60rpx
  height 60rpx
  border 1rpx solid $primary-color
  border-radius 50%
  display flex
  justify-content center
  align-items center
  margin-left 39rpx

  &:nth-child(7n+1)
    margin-left 0

  &:nth-child(n+8)
    margin-top 39rpx

  &.status-2 //check-in,
    background-color $primary-color
    border 1px solid white
    color white
    font-weight bold
    box-shadow 2px 2px 4px rgba(0,0,0,.2)

  &.status-1 // miss
    background-color $secondary-color
    border none
    color white

    &:after
      width 4rpx
      height 4rpx
      background-color $secondary-color
      border white 2px solid

  &.status-0
    box-shadow 2px 2px 4px rgba(0,0,0,.2)

.quit
  padding 1.5em 0

radio-group
  border 1rpx solid #DDD
  border-radius 1em

  label
    padding .5em .5em .5em 2em

    + label
      border-top 1rpx solid #DDD

.share-modal
  .modal-body
    display flex
    flex-direction column
    width 539rpx
    height 638rpx
    padding-top 339rpx
    position relative

  image
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    z-index 0

  text
    position relative
    font-size 28rpx
    margin 0 30rpx 0

  button
    background-color rgb(245,59,85)
    border-radius 0
    color rgb(255,199,6)
    margin auto 30rpx 30rpx

.version
  color #CCC
  font-size 20rpx
  text-align center
  margin 20rpx 60rpx
  padding-top 20rpx
  border-top 1rpx solid #CCC
