@import "../../styl/variable.styl"

.day-count
  background-color white
  display flex
  flex-direction row
  justify-content space-between
  flex-wrap wrap
  padding 1em
  width 100%

  button
    background-color $primary-color
    color white

.signed
  border-top 1px solid $primary-color
  display flex
  margin-top 1em
  padding-top .5em
  width 100%

  .icon-user
    margin-right .5em

.intro
  margin .5em
  padding 1em

  .link
    color $primary-color
    text-align right