@import "styl/variable.styl"

.container
  background-color #EEE
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  font-size 24rpx
  line-height 1.5

view
  box-sizing border-box

.text-muted
  color: #CCC

.cover
  background-color white
  border-radius .25em
  box-shadow 2px 2px 4px rgba(0,0,0,.2)
  padding 1em
  margin .5em

@import "styl/layout.styl"
@import "styl/common.styl"
@import "styl/icon.styl"
@import "styl/component/article.styl"
@import "styl/component/alert.styl"
@import "styl/component/form/button.styl"
