@import "styl/variable.styl"

page
  font-size 32rpx
  background-color #EEE
  line-height 1.6

.container
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  font-size 24rpx

button,
view,
image,
navigator
  box-sizing border-box

.text-muted
  color: #AAA

.text-danger
  color lighten(red,10%)

.text-center
  text-align center

.cover
  background-color white
  border-radius .25em
  box-shadow 0 2px 4px 0 rgba(0,0,0,.2)
  padding 1em
  margin .5em

// common parts
@import "styl/layout.styl"
@import "styl/common.styl"
@import "styl/icon.styl"

// components
@import "styl/component/article.styl"
@import "styl/component/alert.styl"
@import "styl/component/form/button.styl"
@import "styl/component/form/radio-group.styl"

// animations
@import "node_modules/animate.css/source/_base.css"
@import "node_modules/animate.css/source/sliding_entrances/slideInDown.css"
@import "node_modules/animate.css/source/fading_entrances/fadeIn.css"
