@import "../../styl/variable.styl"

.article
  background-color white
  border-radius .25em
  margin 1em .5em


.h2
  display block
  font-size 32rpx
  margin-bottom .5em
  position relative

  &::before
    background-color $primary-color
    width 20rpx
    height 20rpx
    position absolute
    left -1em

.paragraph
  margin 0 .5em

.card-list
  display flex
  flex-wrap wrap
  align-content space-between

.card
  width 150rpx
  height 128rpx
  border 2rpx solid solide
  border-radius 1em

  image
    margin 1em auto

  text
    text-align center

  &:nth-child(n+4)
    margin-top 2em