@import "../../styl/variable.styl"

.card-list
  display flex
  flex-wrap wrap
  align-content space-between
  margin-top 2em

.card
  width 150rpx
  height 128rpx
  border 2rpx $primary-color solid
  border-radius 1em
  display flex
  flex-direction column
  justify-content space-between
  margin-left 70rpx
  padding 12rpx 0 6rpx
  font-size 10px

  image
    background-color #DDD
    margin 0 auto
    width 120rpx
    height 70rpx

  text
    text-align center

  &:nth-child(n+4)
    margin-top 2em

  &:nth-child(3n + 1)
    margin-left 45rpx

.qrcode
  background-color #DDD
  display block
  margin 2em auto 0
  padding 2em
  width 300rpx
  height 300rpx

.footer
  color $primary-color
  text-align center