radio-group

  label
    display flex
    flex-direction column
    padding-left 2em
    position relative

  .icon
    width 30rpx
    height 30rpx
    border 2px solid gray
    border-radius 50%

  .icon,
  icon
    position absolute
    top 18rpx
    left 16rpx

  text
    display block
    width 100%