@import "../../styl/component/modal.styl"

.rich-modal
  background-color white
  border-radius 10rpx
  font-size 28rpx

.header
  font-weight bold
  line-height 3
  text-align center
  border-bottom 1px solid #DDD

.body
  padding 20rpx

.footer
  display flex

.modal-button
  border-top 1px solid #DDD
  flex 1
  line-height 2.5
  text-align center

  &:nth-child(n+1)
    border-left 1px solid #DDD

.confirm-button
  color #1AAD19

// animations
@import "../../node_modules/animate.css/source/_base.css"
@import "../../node_modules/animate.css/source/fading_entrances/fadeInUp.css"
@import "../../node_modules/animate.css/source/fading_entrances/fadeIn.css"
@import "../../styl/animation.styl"