.alert
  background-color: white;
  padding:.5em .75em;
  border-radius:.5em;
  display:inline-block;
  margin:0 auto .5em;
  position relative

  &::after
    background-color white
    content ''
    width .5em
    height @width
    position absolute
    transform rotate(45deg)
    left 50%
    bottom -(@width / 2)

.alert-danger
  background-color lighten(red, 20%)
  color white

  &::after
    background-color lighten(red, 20%)