.article
  background-color white
  border-radius .25em
  margin 1em .5em


.h2
  display block
  font-size 32rpx
  margin-bottom .5em
  position relative
  text-indent 1em

  &::before
    background-color $primary-color
    content ''
    width 16rpx
    height 16rpx
    position absolute
    top 50%
    left 0
    margin-top -8rpx
    transform rotate(45deg)

.paragraph
  margin 0 1em

.small
  font-size .875em