.article
  background-color white
  border-radius .25em
  margin 1em .5em


.h2
  display block
  font-size 32rpx
  margin-bottom .5em
  position relative
  text-indent .5em

  &::before
    background-color $primary-color
    content ''
    width 20rpx
    height 20rpx
    position absolute
    left -1em

.paragraph
  margin 0 1em