for n in 1...10
  .mt-{n}
    margin-top 1em * n
  .mr-{n}
    margin-right 1em * n
  .mb-{n}
    margin-bottom 1em * n
  .ml-{n}
    margin-left 1em * n
  .my-{n}
    margin-top 1em * n
    margin-bottom 1em * n