@import "../../styl/variable.styl"
@import "../../styl/shape.styl"

.header.cover
  padding 0

.h1
  font-size 36rpx
  padding .5em
  text-align center

.switch
  font-size 28rpx
  padding-bottom 40rpx

  switch
    margin 0 10rpx

radio-group
  font-size 32rpx
  position relative
  padding-left 40rpx
  margin-bottom 40rpx

  &.correct
    background-color #d4edda

  &.wrong
    background-color #f8d7da

  .index
    display flex
    flex-direction column
    position absolute
    top 0
    left 0

  .icon,
  icon
    top 12rpx

.original-article
  display block
  font-size 28rpx
  margin-bottom 20rpx

.explanation
  font-size 28rpx
  padding 20rpx 0
  margin-bottom 20px
  border-top 1px solid #DDD
  border-bottom 1px solid #DDD

.blank-list
  display flex
  flex-direction row
  flex-wrap: wrap

.blank-item
  display flex
  flex-direction row
  width 40%
  margin-left 5%
  margin-bottom 20rpx

  &:nth-child(2n)
    margin-left 8%

  text
    color $primary-color
    display block
    font-size 24rpx
    width 40rpx

  input
    border-bottom 1px solid #CCC
    height 1.2em
    min-height 1.2em

.nav-button
  display flex
  flex-direction row
  justify-content space-between
  align-items flex-end
  margin-top 40rpx

  button
    border-radius 50%
    display flex
    justify-content center
    align-items center

  .recorder
    position relative

  .tips
    background-color #0006
    border-radius 20rpx
    color white
    font-size 20rpx
    position absolute
    top -40rpx
    left -80rpx
    width 250rpx
    text-align center
    line-height 2

  .record-button,
  .stop-record-button
    background-color white
    border 4rpx solid $primary-color
    width 90rpx
    height 90rpx

  .stop-record-button view
    width 30rpx
    height 30rpx
    background-color $primary-color

  .back-button,
  .next-button
    background-color $primary-color
    border none
    margin 0
    width 72rpx
    height 72rpx

    view
      margin-left 8rpx
      triangle-right(16rpx, 25rpx, white)

  .back-button
    transform rotate(-180deg)